/*********************** Font Sizes ***********************/
body {
		font-size: 14px;
}

h2 {
	font-size: 1.7em;
	font-weight: normal;
}

h3 {
	font-size: 1.3em;
}

h4 {
	font-size: 1em;
}

a {
	font-weight: bold;
	color: #00f;
}

/*********************** End Font Sizes ***********************/

/*********************** Content Styles ***********************/

/*~*~*~*~*~*~*~* Panel Styles *~*~*~*~*~*~*~*/
	
.system-check-panel.panel {
	margin: 24px auto;	
	width: 400px;
}

.system-check-panel.panel .panel-content {
	text-align: center;
}

/*~*~*~*~*~*~*~* Table Styles *~*~*~*~*~*~*~*/

.system-check-table {
    border-spacing: 0 6px;
    border-collapse: separate;
}

.system-check-table thead th {
	font-size: 0.86em;
	font-weight: normal;
	background-color: #3878ff;
	color: #fff;
	height: 38px;
}

.system-check-table tr td:nth-child(1),
.system-check-table tr td:nth-child(2),
.system-check-table tr td:nth-child(3) {
	border: 1px solid #ccc;
	border-right: none;
}

.system-check-table tr td:nth-child(1) {
	width: 202px;
	font-size: 1.3em;
	text-align: center;
}
.system-check-table tr td:nth-child(2) {
	width: 337px;
	padding: 0 22px;
}
.system-check-table tr td:nth-child(3) {
	width: 326px;
	padding: 0 22px;
}
.system-check-table tr td:nth-child(4) {
	width: 87px;
}

.system-check-table tbody tr {
	height: 96px;
}

/*~*~*~*~*~*~*~* Title Styles *~*~*~*~*~*~*~*/

.title-block {
	text-align: center;
}

/*~*~*~*~*~*~*~* Error Message *~*~*~*~*~*~*~*/

.system-check-result {
    background-color: #eee;
    padding-left: 40px;
    line-height: 40px;
    box-shadow: 0 1px 1px 0 #999;
    -webkit-box-shadow: 0 1px 1px 0 #999;
}

.system-check-result.success {
	border-left: 4px solid #8dc63f;
	background: #eee url('../media/icon-system-success.png') no-repeat;	
}

.system-check-result.success strong {
	color: #8dc63f;
}

.system-check-result.fail {
	border-left: 4px solid #ed1c24;
	background: #eee url('../media/icon-system-fail.png') no-repeat;	
}

.system-check-result.fail strong {
	color: #ed1c24;
}

.system-check-table tr.error-msg {
	height: 46px;
}

.system-check-table tr.error-msg td {
	background: url('../media/icon-alert.png') 0 2px no-repeat;
	text-align: left;
	font-size: 1em;
	border: none;
}

.error-msg strong {
	color: #3878ff;
}

.error-msg p {
	padding-left: 40px;
}

/*~*~*~*~*~*~*~* Test Link *~*~*~*~*~*~*~*/

.test-link-block {
	text-align: center;
	padding-top: 12px;
}

.test-button {
	display: inline-block;
	background: #ff6927 url("../media/arrow.png") no-repeat 80px -4px;
	border-bottom: 1px solid #ccc;
	color: #fff;
	padding: 0 50px 0 34px;
	line-height: 37px;
	font-size: 1.05em;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

/*~*~*~*~*~*~*~* Cofirmation Dialog *~*~*~*~*~*~*~*/

/*~*~*~*~*~*~*~* Pass/Fail Icons *~*~*~*~*~*~*~*/

.status.waiting {
	background: url('../media/icon-waiting.gif') center no-repeat;
	border: 1px solid #ccc;
}

.status.success {
	background: #8dc63f url('../media/icon-success.png') center no-repeat;
}

.status.fail {
	background: #ed1c24 url('../media/icon-fail.png') center no-repeat;
}

/*~*~*~*~*~*~*~* Flash Controls *~*~*~*~*~*~*~*/

.installFlash,
.upgradeFlash,
.displayFlash {
	display: none;
}

#micCheck-test {
	margin: 0 auto;
	width: 250px;
	height: 140px;
	background: url('../media/flash-control-mic.png');	
/* 	border: 1px solid #000; */
}

#audioPlayer-test {
	margin: 0 auto;
	width: 135px;
	height: 62px;
	background: url('../media/flash-control-audio.png');	
/* 	border: 1px solid #000; */
}

#audioPlayer {
	margin-top: 12px;
}

/*~*~*~*~*~*~*~* Mic/Audio Instructions *~*~*~*~*~*~*~*/

.audio-instructions {
	text-align: center;
}

ol.mic-instructions {
	padding-left: 12px;	
}

ol.mic-instructions li {		
	margin: 0 auto;
	text-align: left;
	line-height: 16px;
}

.confirmation {
	text-align: center;
	margin-bottom: 4px;
}

.confirmation p {
	margin-bottom: 6px;
}

.passCheck {
	color: #8dc63f;
}

.failCheck {
	color: #ed1c24;
}

.passCheck, 
.failCheck {
	display: inline-block;
	margin: 0 12px 4px;
	text-decoration: underline;
}

.passCheck:hover, 
.failCheck:hover {
	cursor: pointer;
}

.passCheck.disabled, 
.failCheck.disabled {
	cursor: default;
	color: #ccc;
}

/*~*~*~*~*~*~*~* General Styles *~*~*~*~*~*~*~*/

.show {
	display: block;
}

.hide {
	display: none;
}

.no-script-message {
	margin-top: 30px;
	text-align: center;
}

.flash-control {
	display: block;
	text-align: center;
	margin: 0 auto;
}	

/*********************** End Content Styles ***********************/

/*********************** begin header ***********************/

.header h3 {
	border-bottom: 1px solid #ccc;
	margin: 0;
	padding: 12px 0;t
}

/*********************** end header ***********************/

/*********************** begin footer ***********************/

.footer .container {
	margin-bottom: 0;
	text-align: right;
}

.footer .logo-actfl-lti {
	padding-top: 26px;
}

/*********************** end footer ***********************/

/*set the width of the page */
/* applied to the header, content and footer */
.container {
	max-width: 960px;
	margin: 0 auto 24px;
}

/* begin footer fix */
html, body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    min-width: 960px;
}

.main {
    padding-bottom: 100px; /* footer height */
}

.footer {
	margin-top: -100px; /* negative value of footer height */
    min-width: 960px;
	height: 100px;
}
/* end footer fix */